/* Admin */

.live-blog-add {
  font-size: 16px;
  display: block;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  border: 2px solid #666;
  border-radius: 5px;
  font-weight: 600;
  color: #000;
  width: 40%;
  margin: 20px auto;
}

.live-blog-add:hover {
  text-decoration: none;
  background-color: #666;
  color: #fff;
}

ul.live-blog-links {
  font-size: 14px;
  text-align: right;
  margin-top: 15px;
}

ul.live-blog-links > li {
  display: inline-block;
  margin: 0 0 0 10px;
  border: 1px solid #666;
}

ul.live-blog-links > li a {
  display: inline-block;
  padding: 0 10px;
}

ul.live-blog-links > li:hover a {
  text-decoration: none;
  color: #fff;
}

ul.live-blog-links > li:hover {
  background-color: #666;
}

.live-blog-unpublished {
  background-color: #fff4f4;
}

.live-blog-hidden {
  display: none !important;
}

/* Live Blog */

.js .live-blog-wrap {
  display: none;
}

.live-blog-top {
  padding-bottom: 15px;
  padding-top: 30px;
}

.live-blog-top-title {
  float: left;
  color: #1b5d8c;
  font-size: 28px;
}

.live-blog-top-sort {
  float: right;
  color: #4f5152;
  font-weight: 400;
  font-size: 18px;
}

.live-blog-top-sort-label,
.live-blog-top-sort-select {
  display: inline-block;
}

.live-blog-top-sort-select {
  padding-left: 5px;
  position: relative;
}

.live-blog-top-sort-select select {
  width: auto;
  padding: 7px 35px 7px 15px;
  cursor: pointer;
  color: #4f5152;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 1em;
  position: relative;
}

.live-blog-post,
.live-blog-empty {
  border-top: 2px solid #ddd;
  padding: 20px 0 30px;
}

.live-blog-post {
  position: relative;
}

.live-blog-content img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.live-blog-author {
  padding-bottom: 5px;
  position: relative;
}

.live-blog-author-name,
.live-blog-author-time {
  display: inline-block;
  color: #666;
}

.live-blog-author-name {
  padding-right: 5px;
}

/* Toolbar */

.live-blog-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  background-color: rgba(235,242,248,0.95);
  z-index: 50;
  -webkit-box-shadow: 0px 0px 5px 1px #aaa;
  -moz-box-shadow: 0px 0px 5px 1px #aaa;
  box-shadow: 0px 0px 5px 1px #aaa;
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: 300ms transform;
  min-width: 1025px;
}

body.mobile .live-blog-toolbar {
  min-width: 100%;
}

.live-blog-toolbar-closed {
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
}

.live-blog-toolbar-control {
  position: absolute;
  right: 25px;
  bottom: 100%;
  width: 32px;
  height: 25px;
  cursor: pointer;
  background-color: rgba(235,242,248,0.95);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #ccc;
}

.live-blog-toolbar-control::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 9px;
  width: 10px;
  height: 10px;
  border: solid #999;
  border-width: 0 2px 2px 0;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.live-blog-toolbar-control::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 5px;
  background-color: rgba(235,242,248,0.95);
}

.live-blog-toolbar-control:hover::before {
  border-color: #666;
}

.live-blog-toolbar-closed .live-blog-toolbar-control::before {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 9px;
}

.live-blog-toolbar-inner {
  max-width: 1350px;
  margin: 0 auto;
  padding: 5px 30px 20px 30px;
}

.live-blog-toolbar-content {
  max-width: 960px;
  position: relative;
}

.live-blog-toolbar-title {
  font-size: 1.7em;
  font-weight: 300;
  padding-bottom: 5px;
  padding-right: 120px;
}

.live-blog-toolbar-playpause {
  background-color: #5a5a5a;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 8px;
  position: relative;
}

.live-blog-toolbar .live-blog-toolbar-playpause label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 14px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 10px;
  padding: 0 !important;
}

.live-blog-toolbar-playpause input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.live-blog-toolbar-playpause input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 6px 0 6px 10px;
}

@keyframes live-loading {
  0% {
    content: 'Pause Live Feed';
  }
  15% {
    content: 'Pause Live Feed .';
  }
  30% {
    content: 'Pause Live Feed ..';
  }
  45% {
    content: 'Pause Live Feed ...';
  }
  60% {
    content: 'Pause Live Feed \00a0..';
  }
  75% {
    content: 'Pause Live Feed \00a0\00a0.';
  }
  100% {
    content: 'Pause Live Feed';
  }
}

.live-blog-toolbar-playpause label::after {
  content: 'Pause Live Feed';
  position: absolute;
  left: 100%;
  white-space: nowrap;
  padding-left: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  animation-name: live-loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.live-blog-toolbar-playpause input[type="checkbox"]:checked + label::after {
  content: 'Run Live Feed';
  animation-name: none;
}

/* Mobile styles */

@media screen and (max-width: 767px) {
  body.mobile .live-blog-top-title {
    font-size: 24px;
  }

  body.mobile .live-blog-top-sort {
    font-size: 16px;
  }

  body.mobile .live-blog-top-sort-select select {
    padding: 4px 25px 4px 10px;
  }

  body.mobile .live-blog-toolbar-inner {
    padding: 15px 20px 10px 20px;
  }

  body.mobile .live-blog-toolbar-title,
  body.mobile .live-blog-toolbar .back-to-top {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body.mobile .live-blog-top-title {
    font-size: 20px;
  }

  body.mobile .live-blog-top-sort {
    font-size: 14px;
  }

  body.mobile .live-blog-top-sort-select select {
    padding: 3px 15px 3px 7px;
  }

  body.mobile .live-blog-toolbar-playpause label::after {
    content: 'Live Feed' !important;
    animation-name: none;
  }
}

@media screen and (max-width: 360px) {
  body.mobile .live-blog-top-sort-label,
  body.mobile .live-blog-toolbar-playpause label::after {
    display: none;
  }
}
