{{ add_more }}
<div class="live-blog-wrap {{ wrap_class }}">
  <div class="live-blog-top clearfix">
    <div class="live-blog-top-title">Updates</div>
    <div class="live-blog-top-sort">
      <span class="live-blog-top-sort-label">Sort by:</span>
      <span class="live-blog-top-sort-select">
        <select>
          <option value="desc">Latest post</option>
          <option value="asc">Olders post</option>
        </select>
      </span>
    </div>
  </div>

  <div {{ attributes.addClass('live-blog-posts') }} data-parent-id="{{ parent_id }}" data-lid="{{ lid }}">
    {% if posts %}
      {{ posts }}
    {% else %}
      <div class="live-blog-empty">No posts yet.</div>
    {% endif %}
  </div>

  {% if toolbar %}
    <div class="live-blog-toolbar live-blog-toolbar-auto live-blog-toolbar-closed">
      <div class="live-blog-toolbar-inner">
        <div class="live-blog-toolbar-content clearfix">
          {{ toolbar }}
        </div>
      </div>
      <div class="live-blog-toolbar-control"></div>
    </div>
  {% endif %}
</div>
