{#
/**
 * @file live_blog.html.twig
 * Default theme implementation to present Live Blog entity data.
 *
 * This template is used when viewing Live Blog entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_live_blog()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('live_blog') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
