<div id="live-blog-post-{{ pid }}" data-weight="{{ pid }}" {{ attributes.addClass('live-blog-post') }}>
  {% if not hidden %}
    <div class="live-blog-content"{{ content_attributes }}>
      <div class="live-blog-author clearfix">
        <div class="live-blog-text">
          <div class="live-blog-author-name">{{ name }}</div>
          <div class="live-blog-author-time">{{ time }}</div>
        </div>
      </div>
      {{ post }}
    </div>
  {% endif %}
</div>
